body {
    background-color: #D5C4B3; /*cor do fundo do site*/
    font-family: system-ui, -apple-system, sans-serif; /*tipo de fonte*/
}

h1 {
    text-align: center; /*para o titulo ir para o meio*/
}

.container-clima {
    background-color: #EAE0D5;  /*cor do container do clima*/
    width: 420px; /*largura do container*/
    margin: 20px auto;
    padding: 15px; 
    border-radius: 40px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2); /*sombra da borda do container*/
    text-align: center; /*o texto do container para ficar no meio*/
    font-size: 20px;
}

p {
    color: #1C130D; /*cor do texto*/
}